<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="host" value="smtp.gmail.com"/>
    <add key="port" value="587"/>
    <add key="username" value="annsamoluk82@gmail.com"/>
    <add key="password" value="SERGEJDED123"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>